*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    height:100vh;
}

/* background image */
/* Full screen background */
.splash{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;

    background-image: linear-gradient(rgba(28, 93, 20, 0.55), rgba(33, 148, 42, 0.55)),url("bg.jpg");
    backdrop-filter: blur(3px);
    display:flex;
    justify-content:center;   /* horizontal center */
    align-items:center;       /* vertical center */
}

/* blue overlay */
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(11, 69, 9, 0.785);
}

/* IMPORTANT: center items properly */
.content{
    position:relative;
    z-index:2;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}



/* BIG transparent title */
.appname{
    font-size:18vw;
    font-weight:200;
    letter-spacing:8px;
    color:rgba(255,255,255,0.75);
    animation:fadeIn 2s ease-in-out;
}

/* small text */
.tagline{
    font-size:24px;
    margin-top:-20px;
    letter-spacing:4px;
    animation:fadeIn 3s ease-in-out;
}

/* animation */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
/* LOGO */
.logo{
    height:160px;       /* control size using height */
    width:auto;
    object-fit:contain;
    margin-bottom:20px;

    animation:zoomIn 1.5s ease-in-out;
}



/* college name */
.college-name{
    font-size:28px;
    letter-spacing:2px;
    color:white;
    margin-top:10px;
    animation:fadeIn 2.5s ease-in-out;
}

/* tagline */
.tagline{
    font-size:16px;
    letter-spacing:3px;
    margin-top:8px;
    color:rgba(255,255,255,0.8);
    animation:fadeIn 3s ease-in-out;
}

/* logo animation */
@keyframes zoomIn{
    from{
        transform:scale(0.5);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

/* ************************************************************** */
/* button {
    padding:10px 20px;
    background-color:rgba(255, 255, 255, 0.8);
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    transition:background-color 0.3s ease;
}
button:hover {
    background-color:rgb(56, 137, 50);
    color: rgb(213, 221, 66);
} */