
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SIET Sign In</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300&display=swap" rel="stylesheet">
</head>
<body>

  <div class="bgtext">SIET</div>

  <div class="card">
    <h2>SIGN IN</h2>


    <form action="/login" method="POST">

      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>

      <button type="submit">CONTINUE</button>

{% if popup %}
<div id="popupBox" class="popup">
  <div class="popup-content">
    <p>{{ popup }}</p>
    <button onclick="closePopup()">OK</button>
  </div>
</div>
{% endif %}



    </form>
  </div>
  <script>
    function closePopup() {
      document.getElementById("popupBox").style.display = "none";
    }
  </script>
</body>
</html> 